[Desktop Entry]
Type=Application
Exec=/home/alex/Projekte/littlenavconnect/littlenavconnect-debug.sh
Path=/home/alex/Projekte/littlenavconnect/
Name=Little Navconnect
GenericName=Little Navconnect
Icon=/home/alex/Projekte/littlenavconnect/resources/icons/navroute.svg
Terminal=false
Categories=Qt;Utility;Geography;

