[Desktop Entry]
Type=Application
Exec='YOUR_PATH/Little Navmap/Little Navconnect/littlenavconnect'
# replace spaces with \s
Path=YOUR_PATH/Little\sNavmap/Little\sNavconnect
# replace spaces with \s
Icon=YOUR_PATH/Little\sNavmap/Little\sNavconnect/littlenavconnect.svg
Name=Little Navconnect
GenericName=Little Navconnect
Terminal=false
Categories=Qt;Utility;Geography;Maps;

